@import url(animations.css);

/* Icones */
.icon {
    width: 30px;
    height: auto;
}

/* Boutons */

.btns {
    width: calc(100% - 88px);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.btn {
    border: none;
    padding: 16px 20px;
    background: #292929;
}

.btn a{
    text-decoration: none;
    color: #fefefe;
}

.btn-link {
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    text-decoration: none;
    background: hsl(0, 0%, 16%);
    padding: 16px 20px;
    color: #fefefe;
    border-radius: 20px;
    box-shadow: 2px 3px 5px 0px rgb(41 41 41 / 75%);
    -webkit-box-shadow: 2px 3px 5px 0px rgb(41 41 41 / 75%);
    -moz-box-shadow: 2px 3px 5px 0px rgb(41 41 41 / 75%);
    transition: .3s ease-in-out;
}

.btn-link:hover {
    filter: invert(3);
}

/* Statements */

.success {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(120, 100%, 25%, .8);
    font-size: 1.2em;
    color: #fefefe;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 1px solid #fefefe;
    box-shadow: 2px 3px 5px 0px rgb(41 41 41 / 75%);
    -webkit-box-shadow: 2px 3px 5px 0px rgb(41 41 41 / 75%);
    -moz-box-shadow: 2px 3px 5px 0px rgb(41 41 41 / 75%);
    z-index: 2;
    animation: modal 5s forwards;
}




.err {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(0, 100%, 50%, .8);
    font-size: 1.2em;
    color: #fefefe;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 1px solid #fefefe;
    box-shadow: 2px 3px 5px 0px rgb(41 41 41 / 75%);
    -webkit-box-shadow: 2px 3px 5px 0px rgb(41 41 41 / 75%);
    -moz-box-shadow: 2px 3px 5px 0px rgb(41 41 41 / 75%);
    z-index: 2;
    animation: modal 7s forwards;
}

.cancel {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    color: #fefefe;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 1px solid #fefefe;
    box-shadow: 2px 3px 5px 0px rgb(41 41 41 / 75%);
    -webkit-box-shadow: 2px 3px 5px 0px rgb(41 41 41 / 75%);
    -moz-box-shadow: 2px 3px 5px 0px rgb(41 41 41 / 75%);
    z-index: 2;
    animation: modal 7s forwards;
    background-color: hsl(39, 100%, 50%);
}